body
  font-size: 16px
  min-width: 320px
  line-height: 1.2
  overflow-x: hidden
  color: #fff
  background: #000
  box-sizing: border-box

.content
  display: flex
  align-items: center
  min-height: 100vh
  position: relative