.content
  opacity: 0
  //display: flex
  //flex-wrap: wrap
  //min-height: 100vh
  //position: relative
  transition: opacity 1s
  &--visible
    opacity: 1

.credentials
	text-align: right
	margin: 6px 10px 0 10px
	font-size: 12px
	p
		margin: 0
	a
		color: #fff

// CSS Transition animation
.animation
  &-enter
    opacity: 0
  &-enter-active
    opacity: 1
    transition: opacity 500ms
  &-exit
    opacity: 1
  &-exit-active
    opacity: 0
    transition: opacity 500ms
